<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024325751774-7car8s5g0k5l2j1fnthdbjljdeajp2j2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024325751774-7car8s5g0k5l2j1fnthdbjljdeajp2j2</string>
	<key>API_KEY</key>
	<string>AIzaSyBG7rDomR1sIbl797mhjf3TwFM58SzSuTw</string>
	<key>GCM_SENDER_ID</key>
	<string>1024325751774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.techMedia</string>
	<key>PROJECT_ID</key>
	<string>social-media-application-a3aa8</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-application-a3aa8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024325751774:ios:c9a16bc2f89ac9afd6c34f</string>
</dict>
</plist>